.footerContainer {
    background-color: var(--white);

    div {
        width: 1280px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 2rem;
        margin-top: 2rem;

        ul {
            padding: 1em;

            li {
                // font-size: 1rem;'
                text-align: left;
                list-style: none;
                margin-bottom: 5px;
                // margin-left: 9rem;
            }

            a {
                color: var(--black);
                text-decoration: 0;

            }
        }
    }



}
